{% load static %}
<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8">
    <title>cloud ocr upload </title>
    <style>
        header, .full-width 
        {
            width: 100%;
            background: rgb(3, 86, 141);
                }
        .wrap 
        {
            width: 80%;
            max-width: 30em;
            margin: 0 auto;
            padding: 0.25em 0.625em;
            text-align:center;
        }

        </style>
</head> 
<body>
    <header>
        <div class="wrap">
            <h1>Document Reader</h1> 
        </div>
    </header>

    <div class="wrap">
        <br>
        <br>
        <br>
        <br>
        <br>

    <form method = "post" enctype="multipart/form-data" " >
        {% csrf_token %} 
        {{ form.pan_image }} 
        <button type="submit">Upload</button> 
    </form>
    <!--<form method="post">
        {% csrf_token %}
        <button type="submit" name="run_script">Run script</button>
    </form>-->
    </div>

</body> 
</html> 