{% load static %}
<!DOCTYPE html>
<html>
    <head> 
        
        <meta charset="UTF-8">
        <title>pan upload </title>
        <style>
        header, .full-width 
        {
            width: 100%;
            background: rgb(3, 86, 141);
                }
                .wrap 
        {
            width: 80%;
            max-width: 50em;
            margin: 0 auto;
            padding: 0.25em 0.625em;
            text-align:center;
        }

        </style>
    </head> 
<body>
    <header>

        <div class="wrap">
            <h1>Document Reader</h1> 
        </div>

    </header>

    <div class="wrap">
        <br>
        <br>

        
    <img src="{{ocr.pan_image.url}}" alt="Smiley face" width="500" height="320">
    <br />
    {% for line in content %}
    <p>{{ line }}</p>
    {% endfor %}

    <form>
        <button formaction="{% url 'home' %}">Submit new Image</button>
      </form>
    </div>
</body>

</html>